*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #05000a;
}
.media {
    width: 100%;
    height: 35vh;
    display: flex;
    align-items: end;
    overflow: hidden;
    flex-direction: column;
}

img#movie-banner {
    width: 100%;
    object-fit: cover;
    object-position: top;
    height: 35vh;
}
.degradado-banner {
    width: 100%;
    height: 35vh;
    position: absolute;
    z-index: 1;
    background: linear-gradient(0deg, #05000a 0%, transparent 28%);
}

img#movie-poster {
    width: 127px;
    height: 189px;
    border: 1px solid #1e1e1e;
    border-radius: 5px;
}
.informacion-div {
    color: white;
    width: 100%;
    padding: 0px 20px;
    /* position: absolute; */
}
.titulo-poster {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
h1#movie-title {
    margin: 10px 0px;
    font-family: "Nunito", sans-serif;
    font-size: 1.1rem;
    padding: 0px 10px;
}

p#movie-overview {
    font-family: monospace;
}
.creacion-director {
    display: flex;
      font-family: "Nunito", sans-serif;
    gap: 10px;
    color: #ffffff66;
    font-size: .7rem;
    margin: 20px 0px 0px 0px;
    font-weight: 200;
}
p#movie-year {
    color: #ffffffc4;
    font-weight: 600;
    letter-spacing: .5px;
}
span#movie-director {
    color: #ffffffc4;
    font-weight: 600;
    letter-spacing: 1px;
}
div#movie-genres {
    display: flex;
    overflow: auto;
    margin-top: 10px;
    flex-wrap: wrap;
}

#movie-genres p {
    width: unset;
    background: #181818;
    margin: 2.5px 5px 2.5px 0px;
    text-wrap-mode: nowrap;
    padding: 7px 10px;
    border-radius: 8px;
      font-family: "Nunito", sans-serif;
    font-size: .5rem;
    letter-spacing: 1px;
}
iframe {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: none;
}

div#trailer-container {
    width: 100%;
    height: 198px;
    border-radius: 20px;
}
.botton-container {
    width: 100%;
    height: 60px;
    background: linear-gradient(25deg, #071e5f 30%, #a10303f7);
    display: flex;
    align-items: center;
    padding: 0px;
    justify-content: space-between;
    margin: 30px 0px 10px;
    border-radius: 100px;
    padding: 20px;
}

section.trailer {
    width: 100%;
    padding: 0px 20px;
}
p.titulo-trailer {
    font-family: "Nunito", sans-serif
    ;color: white;
    font-weight: 700;
    font-size: .9rem;
}

button#trailer-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 100px;
    font-family: "Nunito", sans-serif;
    font-size: 1rem;
    margin: 0px -10px 0px 0px;
    font-weight: 500;
    background: #ffffff40;
    color: white;
    backdrop-filter: blur(10px);
}
