*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #000;
}
.media {
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: end;
    overflow: hidden;
    flex-direction: column;
}

img#movie-banner {
    width: 100%;
    object-fit: cover;
    object-position: top;
    height: 40vh;
}
.degradado-banner {
    width: 100%;
    height: 40vh;
    position: absolute;
    z-index: 1;
    background: linear-gradient(0deg, black 0%, transparent 28%);
}

img#movie-poster {
    width: 150px;
    height: 225px;
    position: absolute;
    z-index: 2;
    margin: 15vh 20px 0px;
    border: 5px solid #ffffff47;
    backdrop-filter: blur(5px);
    border-radius: 5px;
}    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 10px;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

input#emailLogin {
    width: 100%;
    height: 40px;
    border-radius: 20px;
    padding: 20px;
    border: none;
    -webkit-text-stroke: medium;
    background: #121111;
    color: white;
    letter-spacing: 1px;
}

input#passwordLogin {
    width: 100%;
    height: 40px;
    border-radius: 20px;
    padding: 20px;
    border: none;
    -webkit-text-stroke: medium;
    background: #121111;
    color: white;
    letter-spacing: 1px;
}
div#loginCard h2, div#registerCard h2 {
    color: white;
    font-family: sans-serif;
}

button {
    width: 250px;
    height: 50px;
    border: none;
    background: #f95300;
    border-radius: 43px;
    font-size: 1.4rem;
    font-family: sans-serif;
    margin: 0px 0px 0px;
    min-height: 50px;
}

p {
    color: white;
}
input#emailRegister {
    width: 100%;
    height: 40px;
    border-radius: 20px;
    padding: 20px;
    border: none;
    -webkit-text-stroke: medium;
    background: #121111;
    color: white;
    letter-spacing: 1px;
}

input#passwordRegister {
    width: 100%;
    height: 40px;
    border-radius: 20px;
    padding: 20px;
    border: none;
    -webkit-text-stroke: medium;
    background: #121111;
    color: white;
    letter-spacing: 1px;
}

input#confirmRegister {
    width: 100%;
    height: 40px;
    border-radius: 20px;
    padding: 20px;
    border: none;
    -webkit-text-stroke: medium;
    background: #121111;
    color: white;
    letter-spacing: 1px;
}
@media (max-height: 980px) {
  .container {
    margin: 0px;
  }
}
