*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  background: #0f0f0f;
  color: white;
  font-family: Arial;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background: #1a1a1a;
  padding: 25px;
  border-radius: 12px;
  width: 300px;
  text-align: center;
}

input {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border-radius: 8px;
  border: none;
}

button {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: none;
  background: #ff3c3c;
  color: white;
  cursor: pointer;
}